<section style="height: 90vh">

<div class="contact">
  <img class="contactLogo" src="images/WTG LOGO.png" alt="">
  <div class="contactText">
    <h1>Eventually there will be contact information, hover for now here some lorem ipsum</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h2>Currently can be contacted from the twitter link in the footer below</h2>
  </div>
</div>

</section>
