<div class="black">
    <div>
        <video class="introVidBG" width="80%" autoplay loop>
          <source type="video/mp4" src="Images/Intro (2).mp4">
        </video>
        <div class="introHook">
            <h1>White <span>Tree</span></h1> <br>
            <h2>Gaming</h2>
        </div>
    </div>
    <div class="noGamesYet">
        <p>I have not made any video games YET, however here is a list of some games I enjoy!</p>
    </div>
    <div class="wowTag">
        <a href="https://worldofwarcraft.com/en-us/"><img src="https://us.battle.net/forums/static/images/game-logos/game-logo-wow.png" alt=""></a>
        <p>I love World of Warcraft <br><br> I have played since I was 9 all the way up to the start of DevMountain <br><br> I mained a Worgen BeastMastery Hunter & a NightElf Resortation Druid</p>
    </div>
    <div class="overWatchTag">
        <a href="https://playoverwatch.com/en-us/"><img height="75px" src="http://www.ownedcore.com/forums/attachments/mmo-trading-market/overwatch-buy-sell-trade/23858-overwatch-rent-us-eu-bonus-time-overwatch-logo-png" alt=""></a>
        <p>Hanzo and Genji are the two most badass OverWatch Characters <br><br> They are brothers from the Shimada Clan <br><br> Forced to fight for leadership, Hanzo killed his younger brother</p>
    </div>
    <div class="leagueTag">
        <a href="http://na.leagueoflegends.com/"><img src="https://upload.wikimedia.org/wikipedia/en/7/77/League_of_Legends_logo.png" alt=""></a>
        <p>I played League of Legends so much I even got a league of legends tattoo..</p>
    </div>

</div>
