.about {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  color: white;
  background-image: url("http://blog.mivia.dk/wp-content/uploads/2013/12/Summoners_rift_season_4_map.jpg");
  background-size: cover;
}
.about h1, .about h3 {
  position: relative;
  top: 100px;
}
.awesome {
  margin: 0 auto;
  text-align: center;
  color:#313131;
  font-size:45px;
  -webkit-animation:colorchange 15s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    color: blue;
  }
  10% {
    color: orange;
  }
  20% {
    color: blue;
  }
  30% {
    color: orange;
  }
  40% {
    color: blue;
  }
  50% {
    color: orange;
  }
  60% {
    color: blue;
  }
  70% {
    color: orange;
  }
  80% {
    color: blue;
  }
  90% {
    color: orange;
  }
  100% {
    color: blue;
  }
}
.video {
  position: relative;
  top: 15%;
  float: left;
  left: 2%;
  width: 45%;
}
.video2 {
  position: relative;
  top: 15%;
  float: right;
  right: 2%;
  width: 45%;
}
