.introVidBG {
  margin: auto;
  position: absolute;
  top: 9%;
  left: 10%;
}
.introHook {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 300px;
  width: 60%;
  top: 35%;
  left: 19.5%;
  z-index: 1
}
h1 {
  text-align: center;
  color: white;
  font-size: 100px;
  margin-top: 30px;
  margin-bottom: 0;
}
h2 {
  text-align: center;
  color: #87c9ff;
  font-size: 75px;
  margin: 0;
}
h1 span {
  color: blue;
}
.noGamesYet {
  position: absolute;
  margin: auto;
  background-color: white;
  height: 50px;
  width: 80%;
  top: 100%;
  left: 10.2%;
  font-size: 40px;
  text-align: center;
}
.wowTag {
  position: absolute;
  margin: auto;
  background-image: url(http://i.imgur.com/JervmsU.jpg);
  background-position: center;
  background-size: contain;
  height: 400px;
  width: 80%;
  top: 110%;
  left: 10.2%;
}
.wowTag img {
  position: relative;
  top: 10%;
}
.wowTag p {
  text-align: center;
  color: white;
  font-size: 30px;
  display: inline-block;
  position: relative;
}
.overWatchTag {
  position: absolute;
  margin: auto;
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/b4/e2/a7/b4e2a7e68730538ef50985c0bb860eab.jpg);
  background-position: center;
  background-size: contain;
  height: 400px;
  width: 80%;
  top: 155%;
  left: 10.2%;
}
.overWatchTag img {
  height: 250px;
  position: relative;
  top: 15%;
  left: 80%;
}
.overWatchTag p {
  text-align: center;
  color: white;
  font-size: 30px;
  display: inline-block;
  position: relative;
  top: 5%;
  left: -3%;

}
.leagueTag {
  position: absolute;
  margin: auto;
  background-image: url(https://i.ytimg.com/vi/TeQPo8VUALM/maxresdefault.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 80%;
  top: 200%;
  left: 10.2%;
}
.leagueTag img {
  position: relative;
  top: 25%;
}
.leagueTag p {
  text-align: center;
  position: relative;
  color: white;
  font-size: 30px;
  left: 3%;
  display: inline-block;
}



@media (max-width: 1762px) {
  .introVidBG {
    top: 12%;
  }
  .noGamesYet {
    top: 98%;
  }
  .wowTag {
    background-size: cover;
  }
  .wowTag img {
    height: 175px;
    top: 20%;
  }
  .wowTag p {
    font-size: 25px;
    top: 15%;
  }
  .overWatchTag {
    background-size: cover;
    top: 163%;
  }
  .overWatchTag img {
    left: 75%;
  }
  .overWatchTag p {
    font-size: 25px;
    top: 0;
    left: -15%;
  }
  .leagueTag {
    background-size: cover;
    top: 216%;
  }
  .leagueTag img {
    height: 125px;
    top: 35%;
  }
  .leagueTag p {
    font-size: 25px;
    top: 20%;
  }



}
